
/* ============================================ */
/*         ---  Cart Background  ---            */
/* ============================================ */
header {
    justify-content: flex-start;
    align-items: flex-start;
}

.orinoco {
    width: 100%;
    margin-left: 200px;        
    margin-right: 200px;        
}

.cart {
    margin: auto;
    margin-top: 40px;
}

/* ============================================ */
/*              ---  Caption ---                */
/* ============================================ */
.caption {
    justify-content: flex-start;
    height: 50px;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.caption h3,
.total-container h3 {
    font-size: 150%;
}

.caption-Arti {
    width: 22%;
}

.caption-Indi {
    width: 32%;
}

.caption-Prix {
    width: 17%;
}

/* ============================================ */
/*          ---  List Container ---             */
/* ============================================ */
.flow-cart-list,
.list-container li {
    width: 100%;
    overflow: hidden;
}

.list-container {
    width: 90%;
    margin: 0;
    padding: 0;
    
    /* background-color: yellowgreen; */
}

.flow-cart-item {
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid black 2px;
}

/*  ---  Picture  ---  */
.list-container a {
    margin: 20px;
    height: 200px;
    width: 200px;
}

.list-container figure,
.list-container img {
    height: 100%;
    width: 100%;
}

.list-container img {
    object-fit: cover;
    border-radius: 30px;
}

.item-caption,
.item-price,
.quantity, 
.remove-btn {
    margin: auto;
}

/*  ---  Caption  ---  */
.item-caption {
    align-content: flex-start;
    height: auto;
    width: 25%;

    /* background-color: orange; */
}

.item-caption h3,
.item-caption p {
    width: 100%;
    margin-top: 20px;
    
    /* background-color: skyblue; */
}

/*  ---  Quantity "+ / -" ---  */
.quantity {
    justify-content: space-between;
    width: 140px;
}

.quantity-plus-btn,
.quantity-minus-btn,
.validate-btn,
.remove-btn,
.clean-cart-btn {
    height: 60px;
}

.quantity-input {
    margin-top: 12px;
    margin-bottom: 12px;
    height: 50px;
    width: 100%;
    text-align: center;
}

/*  --- "+ / -" --- */
.quantity-plus-btn,
.quantity-minus-btn {
    align-content: center;
    width: 60px;
    margin: 0%;
}

/*  ---  Remove Button  ---  */
.remove-btn,
.clean-cart-btn {
    width: 150px;
}


/* ============================================ */
/*          ---  Order Container ---            */
/* ============================================ */
.order-container {
    justify-content: space-between;
    height: auto;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 110px;
    padding-top: 110px;
    border-top: solid black 2px;
}

.clean-cart-btn {
    width: 200px;
}

.purchase-btn {
    height: 100px;
    width: 350px;
}

.total-container {
    justify-content: space-between;
    width: 220px;
}


/* ============================================ */
/*   --- Confirm order form page Container ---  */
/* ============================================ */
.purchase-page-flow {
    position: fixed;
    top: 0;
    visibility: hidden;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.purchase-page {
    position: relative;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    border-radius: 50% 50% 0 0;
}

.contact {
    position: absolute;
    height: auto;
    width: 450px;
    background-color: white;
    border-radius: 20px;
}

.label-input-container {
    margin: auto;
    margin-top: 40px;
    width: 60%;

}

.label-input-container label,
.label-input-container input {
    width: 100%;

    font-family: "Roboto-Medium";
    line-height: 100%;
    font-weight: 400;
    font-size: 100%;
}

.label-input-container label {
    font-weight: 600;
}

.label-input-container input {
    font-weight: 400;

    margin-top: 8px;
    padding-left: 20px;
    height: 30px;
    border-radius: 8px;
    border: solid black 1px;
}

.confirm-order-btn {
    margin: 50px;
    margin-bottom: 0;
    height: 85px;
    width: 80%;
}

.cancel-order-btn {
    margin: 30px;
    height: 60px;
    width: 50%;
}