
/* ============================================ */
/*         ---  Main Section Page 2 --- */
/* ============================================ */
.main {
    justify-content: space-around;
}

.left-container,
.right-container {
    height: 100%;
    width: 45%;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* ============================================ */
/*            ---  Left Container ---           */
/* ============================================ */
.left-container figure,
.left-container img {
    border-radius: 20px;
}

.left-container figure {
    height: 400px;
}

.left-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.left-container figure,
.custom-dropdown {
    width: 70%;
}

/*  ---  Dropdown Custom Menu ---  */
.custom-dropdown {
    position: relative;
    height: auto;
    margin-bottom: 15px;
}

.dropdown-flow {
    position: absolute;
    height: 0;
    width: 100%;
    overflow: hidden;
}

.dropdown-content {
    height: auto;
    width: 100%;
    padding-top: 4px;
    transform: translateY(-100%);
    transition-duration: 0.5s;
    
    font-family: "Raleway-Medium";
    line-height: 100%;
    font-weight: 400;
    font-size: 130%;
    border-radius: 0 0 20px 20px;
}

.dropdown-content a {
    justify-content: flex-start;
    margin: 4px;
    margin-top: 0;
    padding-left: 70px;
    height: 60px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: rgb(255, 217, 146);
}

.dropdown-content a:active {
    background-color: rgb(211, 167, 85);
    transition-duration: 0s;
}

/* ============================================ */
/*            ---  Right Container ---           */
/* ============================================ */
.right-container {
    justify-content: space-between;
    align-content: space-between;
    height: 480px;
    margin-right: 30px;
}


/*  ---  Price --- */
.item-price {
    text-align: left;
    width: 100%;
    margin-top: 20px;
}


/*  ---  Description --- */
.item-caption {
    align-content: flex-start;
    height: auto;
    width: 100%;
}

.item-caption h3,
.item-caption p {
    width: 100%;
    font-size: 130%;
    margin-top: 30px;
}


/*  ---  Quantity  --- */
.qnt-add-tag {
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;
    margin-bottom: -5px;
}

.quantity {
    justify-content: space-between;
    width: 100%;
}

.quantity-label {
    width: 65%;
}

.quantity-label:active {
    border: none;
}

.quantity-input {
    width: 27%;
    text-align: center;
}


/*  ---  Cart Add Button --- */
.cart-add-btn {
    width: 48%;
    margin-bottom: 3px;
}

.quantity-label:hover,
.cart-add-btn:hover,
.quantity-plus-btn:hover,
.quantity-minus-btn:hover {
    box-shadow: gray 5px 5px 8px;
}