
/* ============================================ */
/*         ---  Cart Background  ---            */
/* ============================================ */
header {
    justify-content: flex-start;
    align-items: flex-start;
}

.orinoco {
    width: 100%;
    margin-left: 200px;        
    margin-right: 200px;        
}

.cart {
    margin: auto;
    margin-top: 40px;
}

/* ============================================ */
/*              ---  Caption ---                */
/* ============================================ */
.caption {
    justify-content: flex-start;
    height: 50px;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.caption h3,
.total-container h3 {
    font-size: 150%;
}

.caption-Arti {
    width: 22%;
}

.caption-Indi {
    width: 32%;
}

.caption-Prix {
    width: 17%;
}

/* ============================================ */
/*          ---  List Container ---             */
/* ============================================ */
.flow-cart-list,
.list-container li {
    width: 100%;
    overflow: hidden;
}

.list-container {
    width: 90%;
    margin: 0;
    padding: 0;
    
    /* background-color: yellowgreen; */
}

.flow-cart-item {
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid black 2px;
}

/*  ---  Picture  ---  */
.list-container a {
    margin: 20px;
    height: 200px;
    width: 200px;
}

.list-container figure,
.list-container img {
    height: 100%;
    width: 100%;
}

.list-container img {
    object-fit: cover;
    border-radius: 30px;
}

.item-caption,
.item-price,
.quantity, 
.remove-btn {
    margin: auto;
}

/*  ---  Caption  ---  */
.item-caption {
    align-content: flex-start;
    height: auto;
    width: 25%;

    /* background-color: orange; */
}

.item-caption h3,
.item-caption p {
    width: 100%;
    margin-top: 20px;
    
    /* background-color: skyblue; */
}

/*  ---  Quantity "+ / -" ---  */
.quantity {
    justify-content: space-between;
    width: 160px;
}

.quantity-plus-btn,
.quantity-minus-btn,
.validate-btn,
.remove-btn,
.clean-cart-btn {
    height: 60px;
}

.quantity-input {
    margin-top: 12px;
    margin-bottom: 12px;
    height: 40px;
    width: 100%;
    text-align: center;
}

/*  --- "+ / -" --- */
.quantity-plus-btn,
.quantity-minus-btn {
    align-content: center;
    width: 60px;
    margin: 0%;
}

/*  ---  Remove Button  ---  */
.remove-btn,
.clean-cart-btn {
    width: 150px;
}

.remove-btn:hover,
.clean-cart-btn:hover,
.purchase-btn:hover {
    box-shadow: gray 5px 5px 8px;
}

/* ============================================ */
/*          ---  Order Container ---            */
/* ============================================ */
.order-container {
    justify-content: space-between;
    height: auto;
    width: 85%;
    margin-top: 60px;
    margin-bottom: 110px;
    padding-top: 110px;
    border-top: solid black 2px;
}

.clean-cart-btn {
    width: 200px;
}

.purchase-btn {
    height: 100px;
    width: 350px;
}

.total-container {
    justify-content: space-between;
    width: 200px;
}