
/* ========================================================== */
/*      Crossover Smartphone - Tablet Big Size
/* ========================================================== */
@media screen and (min-width: 320px) and (max-width : 1024px) {

    .main {
        padding-bottom: 10px;
    }
    
    .main li {
        margin: 10px;
        margin-bottom: 0;
    }
    
    .anchor {
        justify-content: center;
        margin: auto;
        margin-top: 10px;
        padding: 20px;
    }

    .anchor figure {
        height: 200px;
    }  

    .item-caption,
    .item-caption h3,
    .item-caption p {
        width: 100%;
    }

    .item-price {
        width: 40%;
        margin-top: 30px;
        font-size: 140%;
    }

    .item-caption {
        margin: 10px;
    }

    .item-caption h3 {
        font-size: 120%;
    }

    .item-caption p {
        font-size: 110%;
    }
    
    .anchor:hover {
        box-shadow: none;
    }
}


/* ========================================================== */
/*      Tablet Big Size         
/* ========================================================== */
@media screen and (min-width: 723px) and (max-width : 1024px) {

    .main li {
        margin: 20px;
        margin-bottom: 0;
    }

    .anchor {
        margin-top: 20px;
        padding: 20px;
    }

    .anchor figure {
        margin: auto;
        height: 250px;
        width: 300px;
    }  

    .item-price {
        width: 40%;
        font-size: 150%;
    }

    .item-caption{
        margin: 20px;
    }
    
    .item-caption h3 {
        font-size: 130%;
    }

    .item-caption p {
        font-size: 120%;
    }
}


/* ========================================================== */
/*      Tablet Small Size         
/* ========================================================== */
@media screen and (min-width: 421px) and (max-width : 722px) {
    
    .anchor figure {
        margin: auto;
        width: 200px;
    }
}


/* ========================================================== */
/*      Smartphone         
/* ========================================================== */
@media screen and (min-width: 320px) and (max-width : 420px) {   
    
    .anchor figure {
        width: 250px;
    }
}