
/* Shrikhand Regular */
@font-face {
    font-family: "Shrikhand-Regular";
    src: url("../fonts/Shrikhand-Regular.otf");
}

/* Raleway Medium */
@font-face {
    font-family: "Raleway-Medium";
    src: url("../fonts/Raleway-Medium.ttf");
}

/* Roboto Bold */
@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

body,
section,
.main,
body a,
body figure,
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Shrikhand-Regular";
    line-height: 100%;
    font-weight: 400;
    font-size: 170%;
    letter-spacing: 2px;
}

h3, h4, h5, h6 {
    font-family: "Roboto-Bold";
    line-height: 100%;
    font-weight: 600;
    font-size: 120%;
}

p {
    font-family: "Raleway-Medium";
    line-height: 100%;
    font-weight: 400;
    font-size: 100%;
}

.flexCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

body {
    height: 100%;
}

body a {
    text-decoration: none;
    color: black;
}

body,
.logo-orinoco {
    background: linear-gradient(to bottom right, rgb(255, 137, 27), rgb(153, 0, 255)) no-repeat;
}

header,
.main,
footer {
    width: 80%;
}

.orinoco,
.cart,
.main,
footer {
    background-color: white;
}

.border-radius {
    border-radius: 30px;
}

.item-price {
    font-size: 160%;
    text-align: center;
    letter-spacing: 2px;
}

.item-description {
    font-size: 130%;
}

.main img {
    box-shadow: gray 5px 5px 10px;
}

/* ============================================ */
/*              ---  Header  --- */
/* ============================================ */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.orinoco {
    position: relative;
    height: 100%;
    width: 40%;
}

.logo-orinoco {
    position: absolute;
    left: 50px;
    margin: 0;
    font-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 270%;
    letter-spacing: 3px;
}

/* ==========  Cart  ========== */
.cart {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
}

.cart p {
    font-size: 170%;
    font-weight: 600;
    padding-left: 50px;
}

.logo-cart {
    position: absolute;
    right: 20px;
    margin: 0;
    padding: 10px;
    font-size: 220%;
    color: black;
    border: solid black 3px;
    border-radius: 30%;
}

.cart-items {
    position: absolute;
    height: 65px;
    width: 65px;
    background-color: red;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    box-shadow: black 5px 0px 5px;
    font-size: 180%;
    font-weight: 600;
    color: white;
}

.orinoco:hover,
.cart:hover {
    background-color: lightskyblue;
    box-shadow: black 5px 5px 5px;
}

/* ============================================ */
/*              ---  Footer  --- */
/* ============================================ */
footer {
    margin-top: 30px;
    margin-bottom: 30px
}

h2 {
    padding: 30px;
    padding-left: 10%;
}