/* ============================================ */
/*         ---  Main Section Page 1 --- */
/* ============================================ */
.main {
    list-style: none;
    padding-bottom: 50px;
}

.main li {
    width: 90%;
    margin: 50px;
    margin-bottom: 0;
    border-top: solid black 2px;
}

.anchor {
    justify-content: space-between;
    margin-top: 50px;
    margin-left: -40px;
    margin-right: -40px;
    height: auto;
    padding: 30px;
    padding-right: 100px;
    border-radius: 25px;
}

/* ======  Figure  ====== */
.anchor figure {
    height: 250px;
    width: 25%;
}

/* ======  Img  ====== */
.anchor img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.item-price {
    width: 25%;
}

.item-description {
    width: 50%;
}

.anchor:hover {
    background: linear-gradient(to 
    bottom, rgb(203, 235, 255), rgb(40, 194, 255));
    box-shadow: gray 10px 10px 10px;
}