
.btn {
    border: none;
    width: 100%;
    background: linear-gradient(to bottom right, pink, rgb(185, 23, 255));
    border-radius: 20px;
    
    font-family: "Roboto-Bold";
    line-height: 100%;
    font-weight: 400;
    font-size: 150%;
}

.btn,
.quantity-input {
    height: 70px;
}

/* ============================================ */
/*         ---  Main Section Page 2 --- */
/* ============================================ */
.main {
    justify-content: space-around;
}

.left-container,
.right-container {
    height: 100%;
    width: 45%;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* ============================================ */
/*            ---  Left Container ---           */
/* ============================================ */
.left-container figure,
.left-container img {
    border-radius: 20px;
}

.left-container figure {
    height: 400px;
}

.left-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.left-container figure,
.custom-dropdown {
    width: 70%;
}

/*  ---  Dropdown Custom Menu ---  */
.custom-dropdown {
    position: relative;
    height: auto;
    margin-bottom: 15px;
}

.dropdown-flow {
    position: absolute;
    height: 0;
    width: 100%;
    overflow: hidden;
}

.dropdown-content {
    height: auto;
    width: 100%;
    padding-top: 4px;
    transform: translateY(-100%);
    transition-duration: 0.5s;
    
    font-family: "Raleway-Medium";
    line-height: 100%;
    font-weight: 400;
    font-size: 130%;
    background: linear-gradient(to bottom right, dodgerblue, black);
    border-radius: 0 0 20px 20px;
}

.dropdown-content a {
    justify-content: flex-start;
    margin: 4px;
    margin-top: 0;
    padding-left: 70px;
    height: 60px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
}

.custom-dropdown:hover .custom-btn {
    border-radius: 20px 20px 0 0;
}

.custom-dropdown:hover .dropdown-content {
    transform: translateY(0%);
}

.custom-dropdown:hover .dropdown-flow {
    height: 260px;
}

.dropdown-content a:hover {
    background-color: rgb(255, 208, 122);
}

/* ============================================ */
/*            ---  Right Container ---           */
/* ============================================ */
.right-container {
    justify-content: space-between;
    align-content: space-between;
    height: 480px;
    margin-right: 30px;
    
    /* background-color: orange; */
}

/*  ---  Price --- */
.item-price {
    text-align: left;
    width: 100%;
    margin-top: 20px;
    /* background-color: skyblue; */
}

/*  ---  Description --- */
.item-caption {
    align-content: flex-start;
    height: auto;
    width: 100%;

    /* background-color: tomato; */
}

.item-caption h3,
.item-caption p {
    width: 100%;
    font-size: 130%;
    margin-top: 30px;
}

/*  ---  Quantity / Add Button --- */
.qnt-add-tag {
    justify-content: space-between;
    width: 100%;

    /* background-color: skyblue; */
}

.quantity {
    justify-content: space-between;
    width: 40%;
    /* background-color: yellowgreen; */
}

.quantity-label {
    width: 65%;
}

.quantity-input {
    width: 27%;
    text-align: center;

    font-family: "Raleway-Medium";
    line-height: 100%;
    font-weight: 600;
    font-size: 150%;
}

.add-btn {
    width: 45%;
}

.quantity-label:hover,
.add-btn:hover {
    box-shadow: gray 5px 5px 8px;
}