
/* ============================================ */
/*               ---  Reset  ---                */
/* ============================================ */
body,
section,
.main,
body a,
body figure,
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* ============================================ */
/*          ---  Flex Center  ---               */
/* ============================================ */
.flexCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* ============================================ */
/*          ---  Body Specs  ---                */
/* ============================================ */
body {
    height: 100%;
}

body a {
    text-decoration: none;
    color: black;
}

body li {
    list-style: none;
}

body button {
    cursor: pointer;
}

header,
.main,
footer {
    width: 70%;
}

.border-radius {
    border-radius: 30px;
}


/* ============================================ */
/*            ---  Fonts  ---                   */
/* ============================================ */

/* Shrikhand Regular */
@font-face {
    font-family: "Shrikhand-Regular";
    src: url("../fonts/Shrikhand-Regular.otf");
}

/* Raleway Medium */
@font-face {
    font-family: "Raleway-Medium";
    src: url("../fonts/Raleway-Medium.ttf");
}

/* Roboto Medium */
@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

/* Roboto Bold */
@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

h1, h2 {
    font-family: "Shrikhand-Regular";
    line-height: 100%;
    font-weight: 400;
    font-size: 170%;
    letter-spacing: 2px;
}

h3, h4, h5, h6 {
    font-family: "Roboto-Bold";
    line-height: 100%;
    font-weight: 600;
    font-size: 120%;
}

p {
    font-family: "Raleway-Medium";
    line-height: 100%;
    font-weight: 400;
    font-size: 100%;
}

.quantity-input {
    font-family: "Roboto-Bold";
    line-height: 100%;
    font-weight: 400;
    font-size: 150%;
}


/* ============================================ */
/*          ---  Figure / Price   ---           */
/* ============================================ */
.item-price {
    font-size: 160%;
    text-align: center;
    letter-spacing: 2px;
}

.item-description {
    font-size: 130%;
}

.main img {
    box-shadow: gray 5px 5px 10px;
}

:hover {
    transition-duration: 0.15s;
} 

/* ============================================ */
/*          ---  Button Class  ---              */
/* ============================================ */
.btn {
    border: none;
    width: 100%;
    border-radius: 20px;
    
    font-family: "Roboto-Bold";
    line-height: 100%;
    font-weight: 400;
    font-size: 150%;
}

.btn,
.quantity-input {
    height: 70px;
}

.btn:hover {
    box-shadow: gray 5px 5px 8px;
}

.btn:active {
    border-top: solid grey 5px;
    border-left: solid grey 5px;
    transition-duration: 0s;
}

/* ============================================ */
/*              ---  Header  --- */
/* ============================================ */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.orinoco,
.cart {
    height: 100px;
}

.orinoco {
    position: relative;
    width: 500px;
}

.logo-orinoco {
    position: absolute;
    left: 50px;
    margin: 0;
    font-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1 {
    font-size: 270%;
    letter-spacing: 3px;
}

/* ==========  Cart  ========== */
.cart {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 290px;
}

.cart p {
    font-size: 170%;
    font-weight: 600;
    margin-left: 50px;
}

.logo-cart {
    position: absolute;
    right: 20px;
    margin: 0;
    padding: 10px;
    font-size: 220%;
    color: black;
    border: solid black 3px;
    border-radius: 30%;
}

.cart-items {
    position: absolute;
    height: 65px;
    width: 65px;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    box-shadow: black 8px 0px 5px;
    font-size: 180%;
    font-weight: 600;
    color: white;
    text-shadow: black 5px 2px 4px;
}

.orinoco:hover,
.cart:hover {
    box-shadow: black 5px 5px 5px;
}

/* ============================================ */
/*              ---  Footer  --- */
/* ============================================ */
footer {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    padding: 30px;
    padding-left: 10%;
}


/* ============================================ */
/*          ---  + / -  buttons  ---            */
/* ============================================ */
.plus-minus-btn {
    width: 48%;
}

.quantity-plus-btn,
.quantity-minus-btn {
    width: 35%;
    margin: auto;
    margin-bottom: 20px;
    color: white;
    text-shadow: black 3px 3px 3px;
}

.quantity-plus-btn {
    font-size: 300%;
}

.quantity-minus-btn {
    font-size: 400%;
}


/* ============================================ */
/*        Remove Arrows - input fields          */
/* ============================================ */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ============================================ */
/*        Alert message                         */
/* ============================================ */
.max-value-alert,
.no-color-alert,
.cart-empty-alert {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding: 5px;

    transition-duration: 1s;
    background: linear-gradient(to bottom right, white, pink);
    border: solid 2px red;
    border-radius: 12px;
    
    font-family: "Raleway-Medium";
    line-height: 130%;
    font-weight: 400;
    font-size: 105%;
}