
/* ======  Background Color  ====== */
.orinoco,
.cart,
.main,
footer {
    background-color: white;
}

body,
.logo-orinoco {
    background: linear-gradient(to bottom right, rgb(255, 137, 27), rgb(153, 0, 255)) no-repeat;
}


/* ======  Button Class Color  ====== */
.btn {
    background: linear-gradient(to bottom right, pink, rgb(185, 23, 255));
}


/* ======  Pastille item Panier Color  ====== */
.cart-items {
    background: linear-gradient(to top right, rgb(255, 94, 0), rgb(255, 217, 0));
}


/* ======  Cart Item Selected Color  ====== */
.selected-color,
.chosen-color {
    background: linear-gradient(to bottom right, dodgerblue, lightskyblue);
}


/* ======  Dropdown Background Color  ====== */
.dropdown-content {
    background: linear-gradient(to bottom right, dodgerblue, black);
}


/* ======  Red buttons  ====== */
.remove-btn,
.clean-cart-btn,
.quantity-minus-btn,
.cancel-order-btn {
    background: linear-gradient(to bottom right, pink, red);
}


/* ======  Green buttons  ====== */
.validate-btn,
.quantity-plus-btn,
.purchase-order-btn {
    background: linear-gradient(to bottom right, greenyellow, rgb(0, 170, 0));
}


/* ======  Anchor on :Hover  ====== */
.orinoco:hover,
.cart:hover,
.anchor:hover {
    background-color: lightskyblue;
}


/* ======  Contact Page (Form)  ====== */
.validate-page {
    background: linear-gradient(to bottom right, rgba(135, 206, 250, 0.8), rgba(0, 0, 0, 0.8));
}

/* ======  Loading Spinner background ====== */
.backLoad {
    background: linear-gradient(to bottom right, white, rgba(0, 0, 0, 0.3));
}


/* ======  Confirm Page - Item List ====== */
.confirm-items-container li {
    background: linear-gradient(to right, rgba(148, 0, 211, 0.6), rgba(30, 143, 255, 0.6));
}

.confirm-color {
    background: linear-gradient(to right, rgb(255, 136, 0), rgb(251, 255, 0));
}